*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
     /* 10px div by def of 16px */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    
}

header{
    width:100vw;
    height:80px ;
     /* background-color: red;  */
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     z-index: 100;
}

.navigation {
 width: 35vw;
 height: 30px;
 /* background-color: aqua; */
 display: flex;
 align-items: center;
 justify-content: space-between;

}

.navigation a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: hsl(228, 39%, 23%);
    font-family: 'Work Sans', sans-serif;

}

.navigation a:hover{
    color:hsl(227, 12%, 61%);

} 

.started{
  width: 150px;
  height: 40px;
  border-radius:50px;
  color: white;
  background-color:hsl(12, 88%, 59%);
  border: 0px ;
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
  z-index: 100;
  
}
.started:hover{
    box-shadow: 6px 7px 9px hsl(12, 88%, 59%);

  }
  .illustraction_1{
    width: 780px;
    height: 500px;
    position: absolute;
    left: 48%;
    top: -13%;
    z-index: -1;
    transform: rotate(-7deg);
    }
  main{
    width: 100vw;
    height: 230vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(9,1fr);
  flex-direction: row;
  background-color: yellow;
  
}
.product{

    grid-column: 1/1;
    grid-row: 1/4;
   background: goldenrod;
  z-index: 100;
  
}

.product h1{
font-size:xx-large;
width: 23vw;
margin-left: 80px;
margin-top: 50px;
font-family: 'Work Sans', sans-serif;
}

.product h5{
font-size: larger;
color: hsl(227, 12%, 61%);
font-family: 'Work Sans', sans-serif;
margin-left: 80px;
margin-top: 32px;
width: 20vw;
line-height: 20px;

}  



.started_2{
    width: 150px;
    height: 40px;
    border-radius:50px;
    color: white;
    background-color:hsl(12, 88%, 59%);
    border: 0px ;
    transition: box-shadow 300ms ease-in-out;
    cursor: pointer;
    z-index: 100;
    margin-top: 30px;
    margin-left: 80px;

    
  }
  .started_2:hover{
      box-shadow: 6px 7px 9px hsl(12, 88%, 59%);
  
    }
   
.illustraction{
    grid-column: 2;
    grid-row: 1/4;
    background:blue;
    z-index: 100;
    display: flex;
  
}


.illustraction_2{
    width: 400px;
    height: 350px;
    margin-top: 50px;
    margin-left: -40px;
    
    }


    .manage{
      grid-column: 1;
      grid-row: 4/7;
     background-color: chartreuse;
    }

    .manage h1{
      font-size:xx-large;
      width: 28vw;
      margin-left: 80px;
      margin-top: 50px;
      font-family: 'Work Sans', sans-serif;
    }
    
    .manage h5{
      font-size: larger;
      color: hsl(227, 12%, 61%); 
      font-family: 'Work Sans', sans-serif;
      margin-left: 80px;
      margin-top: 32px;
      width: 20vw;
      line-height: 20px;
    }

    .manage  .illustraction_3{
      width: 780px;
      height: 300px;
      position: absolute;
      left: -500px;
      top: 1000px;
      z-index: -1;
      transform: rotate(-20deg) scale(1.4);
    }
    
    

    .track{
      grid-column: 2;
      grid-row: 4/7;
     background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    }

    .track h3{

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: red;
    width: 17vw;
    }


    .track h3 span:nth-child(1){
  font-size: x-large;
  background-color:hsl(12, 88%, 59%);
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
    }

    .track p{
      font-size:small;
      color: hsl(227, 12%, 61%); 
      font-family: 'Work Sans', sans-serif;
      margin-top: 32px;
      margin-left: 65px;
      width: 20vw;
      line-height: 20px;
    }

.said{
  grid-column: 1/4;
  grid-row: 7/9;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color:aqua;
}
.titre{
  font-size:xx-large;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  transform: translateY(30px);
}

    .slider_div{
      width: 100vw;
      height: 200px;
      background-color:hsl(12, 88%, 59%);
      display: flex;
      overflow:scroll;
      margin-top: 80px;
    }
    .slider_div::-webkit-scrollbar {
      display: none;
    }
  

 .slider_principale{
  min-width: 100%;
  display: flex;
  justify-content:space-around;
  /* border: 2px solid black; */
  background-color:blueviolet;

  animation: tranlateOne 20s  linear  infinite;
  
 } 
 @keyframes tranlateOne {
  0%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(-30%);
  }
  100%{
    transform: translateX(0%);
  }
}

 .slider__secondaire{
  min-width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
  animation: tranlateTwo 20s linear  infinite;

 } 

 @keyframes tranlateTwo {
  0%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(-120%);
  }
  100%{
    transform: translateX(0%);
  }
}

 .slider__secondaire img{
  width: 50px;
  height: 50px;
  margin-top:-50px ;

 }

 .slider__secondaire span{
  margin-top:15px;
  font-size: larger;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;

 } 

 .slider__secondaire p{
  width:200px;
  height: 50px;
  margin-top:15px;
  font-size:small;
  color: hsl(227, 12%, 61%); 
  font-family: 'Work Sans', sans-serif;
  line-height: 20px;


 } 

 .slider{
  width: 30%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
 } 

 .slider img{
   width: 50px;
   height: 50px;
   margin-top:-50px ;
 }
 .slider span{
  margin-top:15px;
  font-size: larger;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
 }    

 .slider p{
  width:200px;
  height: 50px;
  margin-top:15px;
  font-size:small;
  color: hsl(227, 12%, 61%); 
  font-family: 'Work Sans', sans-serif;
  line-height: 20px;


 } 
 
 
 .started_3{
  width: 150px;
  height: 40px;
  border-radius:50px;
  color: white;
  background-color:hsl(12, 88%, 59%);
  border: 0px ;
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
  z-index: 100;
  transform: translateY(60px);
  /* margin-left: 40px; */

  
}
.started_3:hover{
    box-shadow: 6px 7px 9px hsl(12, 88%, 59%);

  }



  footer{
width: 100vw;
height: 400px;
background-color: red;
display: flex;
flex-direction: column;
  }
  


