@media screen and (min-width: 769px) and (max-width: $Desktop) {
  main {
    width: 100vw;
    height: 200vh;
    //  border: 3px rgb(241, 28, 28) solid;
  }

  .everyone {
    width: 100vw;
    height: 85vh;
    // border: 3px black solid;
    display: flex;
    flex-direction: row;

    .left {
      width: 50vw;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .left h1 {
      color: $darK_Blue;
      font-weight: 700;
      font-size: min(2.5rem, 3vw);
      font-family: "Be Vietnam Pro", sans-serif;
      width: 55%;
    }
  
    .left p {
      color: $dark_Grayish_Blue;
      font-weight: 400;
      font-size: 1rem;
      font-family: "Be Vietnam Pro", sans-serif;
      width: 55%;
      line-height: 25px;
    }
  
    .everyoneBtn {
      width: 150px;
      height: 45px;
      border-radius: 25px;
      background-color: $right_Red;
      border: none;
      color: $very_Light_Gray;
      font-family: "Be Vietnam Pro", sans-serif;
      font-weight: 400;
      transition: all 500ms ease-in-out;
      margin-left: -17vw;
      cursor: pointer;
    }
  
    .everyoneBtn:hover {
      box-shadow: 9px 11px 20px hsl(12, 88%, 59%);
      opacity: 0.9;
    }
  
    .right {
      width: 50vw;
      height: 100%;
      // z-index: 9;
      position: relative;
    }
  
    .right img:nth-child(1) {
      position: absolute;
      top: 12%;
      left: 26%;
      width: 349px;
      height: 305px;
      z-index: -6;
      transform: scale(1, 2) rotate(12deg);
    }
  
    .right img:nth-child(2) {
      width: 80%;
      height: 80%;
      z-index: 4;
    }










  }

.manage{
  width: 100vw;
  height: 85vh;
  // border: 3px black solid;
  display: flex;
  flex-direction: row;

.left{
  width: 50%;
  height: 100%;
  padding-left: 120px;
}
.left h2{
  color: $darK_Blue;
  font-weight: 700;
  font-size: min(2.5rem, 2vw);
  font-family: "Be Vietnam Pro", sans-serif;
  width:100% ;
  }

.left p{
  color: $dark_Grayish_Blue;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 71%;
  line-height: 25px;
}


.right{
  width: 50%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.right li{
  list-style: none;
}
.right .titre{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right .titre span{
  color: $very_Light_Gray;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 50px;
  height: 28px;
  border-radius: 13px;
  background-color:$right_Red ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.right .titre h3{
  
  color: $darK_Blue;
  font-weight: 700;
  font-size: min(2.5rem, 1.5vw);
  font-family: "Be Vietnam Pro", sans-serif;
  padding-left:20px ;
}

.right .paragraphe{
  margin-top: 30px;
  color: $dark_Grayish_Blue;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 105%;
  line-height: 25px;

}



}

 
}

@media screen and (min-width: 426px) and (max-width: $Tablet) {
  main {
    width: 100vw;
    height: 200vh;
    //  border: 3px rgb(241, 28, 28) solid;
  }

  .everyone {
    width: 100vw;
    height: 85vh;
    // border: 3px black solid;
    display: flex;
    flex-direction: row;


    .left {
      width: 50vw;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
     .left h1 {
      color: $darK_Blue;
      font-weight: 700;
      font-size: min(2.5rem, 3vw);
      font-family: "Be Vietnam Pro", sans-serif;
      width: 55%;
    }
  
     .left p {
      color: $dark_Grayish_Blue;
      font-weight: 400;
      font-size: 1rem;
      font-family: "Be Vietnam Pro", sans-serif;
      width: 55%;
      line-height: 25px;
    }
  
    .everyoneBtn {
      width: 150px;
      height: 45px;
      border-radius: 25px;
      background-color: $right_Red;
      border: none;
      color: $very_Light_Gray;
      font-family: "Be Vietnam Pro", sans-serif;
      font-weight: 400;
      transition: all 500ms ease-in-out;
      margin-left: -17vw;
      cursor: pointer;
    }
  
    .everyoneBtn:hover {
      box-shadow: 9px 11px 20px hsl(12, 88%, 59%);
      opacity: 0.9;
    }
  
    .right {
      width: 50vw;
      height: 100%;
      // z-index: 9;
      position: relative;
    }
  
    .right img:nth-child(1) {
      position: absolute;
      top: 12%;
      left: 0%;
      width: 349px;
      height: 305px;
      z-index: -6;
      transform: scale(1, 2) rotate(12deg);
    }
  
    .right img:nth-child(2) {
      width: 80%;
      height: 80%;
      z-index: 4;
    }





  }
  

  
}

@media screen and (max-width: $Mobile) {
  main {
    width: 100vw;
    height: 200vh;
    //  border: 3px rgb(241, 28, 28) solid;
    
  }

  .everyone {
    width: 100vw;
    height: 120vh;
    // border: 3px black solid;
    display: flex;
    flex-direction:column-reverse;

     .left {
      width: 100vw;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .left h1 {
      color: hsl(228, 39%, 23%);
      font-weight: 700;
      font-size: min(2.5rem, 7vw);
      font-family: "Be Vietnam Pro", sans-serif;
      width: 63%;
      // border: 3px red solid;
    }
  
     .left p {
      color: $dark_Grayish_Blue;
      font-weight: 400;
      font-size: 1rem;
      font-family: "Be Vietnam Pro", sans-serif;
      width: 55%;
      line-height: 25px;
    }
  
    .everyoneBtn {
      width: 150px;
      height: 45px;
      border-radius: 25px;
      background-color: $right_Red;
      border: none;
      color: $very_Light_Gray;
      font-family: "Be Vietnam Pro", sans-serif;
      font-weight: 400;
      transition: all 500ms ease-in-out;
      margin-left: -17vw;
      cursor: pointer;
    }
  
    .everyoneBtn:hover {
      box-shadow: 9px 11px 20px hsl(12, 88%, 59%);
      opacity: 0.9;
    }
  
     .right {
      width: 100vw;
      height: 50%;
      // z-index: 9;
      position: relative;
    }
  
     .right img:nth-child(1) {
      position: absolute;
      top: 12%;
      left: -24%;
      width: 349px;
      height: 305px;
      z-index: -6;
      transform: scale(1, 2) rotate(12deg);
  
    }
  
     .right img:nth-child(2) {
      width: 100%;
      height: 100%;
      z-index: 4;
    }


}

 
}
