
// primary colors
$right_Red: hsl(12, 88%, 59%);
$darK_Blue: hsl(228, 39%, 23%);


//  Neutral colors

$dark_Grayish_Blue: hsl(227, 12%, 61%);
$very_Dark_Blue: hsl(233, 12%, 13%);
$very_Pale_Red: hsl(13, 100%, 96%);
$very_Light_Gray: hsl(0, 0%, 98%);


// layout

$Mobile: 425px;
$Tablet:768px;
// $Desktop: 1440px
$Desktop: 2560px
